---
layout: page
title: The London Story
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">A HUMAN RIGHTS ORGANISATION</h1>
          <p class="animated fadeInUp">On a mission to protect and promote human rights across the world.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>The London Story</h2>
            <p>Investigate. Analyse. Protect.</p>
          </div>
          <p>The London Story was formed as an aftermath of the Indian citizenship struggle which saw one of the largest and longest-running continued social resistance in modern times. At The London Story, we strongly believe that citizenship is a tool through which majoritarian governments regularly create 'others’ who can be politically disenfranchised, dehumanized and socially reduced to margins. Our aim is to fight such dehumanization anywhere in the world by advocating for the rights of those who politically disenfranchised and are living in refugee, protracted refugee, and stateless conditions.</p>
          <h2>Board</h2>
            <p> <strong>Ms. A. Ray (Chairperson)</strong><br></p>
            <p> <strong>Dr. R. Blok (Treasurer)</strong> </p>
            <p><strong> Mr. S. Maurya (Secretary)</strong></p>
            <!-- <a href="{{ site.baseurl }}/team" class="btn btn-view-works">View Team</a> -->
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/featue-bg-1.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Objective and mission</h2>
      <p>To investigate and uncover human rights violations and abuses globally.</p>
      <p>To analyse and expose governmental and non-governmental actions in perpetuating, supporting or ignoring the human rights violation and abuse.</p>
      <p>To advocate for justice, peace and collective action against human rights violations.</p>
      <h2>Methods to acheive our objective</h2>
      <p>By analysis the episodes of human rights violation brought to its notice by members of its board, the media or general public.</p>
      <p>By collecting, collating and depositing data (held confidentially) to provide a holistic understanding of the trends, patterns and sequences of human rights violations.</p>
      <p>By engaging in seminars, talks, conferences, workshops and public lectures in order to disseminate information about human rights violations.</p>
      <p>By raising funds for research and information dissemination through crowd-funding, donations, subscriptions and grants.</p>
      <p>By submitting written reports, opinions, dossiers, research analysis, etc to the relevant national, international and regional bodies entrusted with implementation of human rights for all.</p>
      <p>By engaging with the governments, political leadership, national parties and non-state stakeholders in strengthening human rights values.</p>
      <p>By organising peaceful demonstrations, sit-ins, teach-outs and other such events to highlight the plight of victims of human rights violation and abuse.</p>
      <p>By advocating for the rights of the victim in international, regional and national judicial forums.</p>
  
      <a href="{{ site.baseurl }}/work" class="btn btn-view-works">View Campaings</a>
    </div>
  </div>
</div>
</section>
<!-- <section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Content Start -->
<!-- <section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> -->
